<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADITI || EXPLORE</title>
    <style>
        .i4ewOd-pzNkMb-haAclf {
            display: none !important;
        }

        * {
            margin: 0;
            padding: 0;
        }

        .my_map {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        *.map {
            height: calc(100vh - 95px) !important;
            width: 100% !important;

        }

        iframe {
            margin-top: -50px;
        }
    </style>
</head>

<body>
    <section class="my_map">
        <iframe class="map" src="https://www.google.com/maps/d/u/0/embed?mid=1fCNtnGuh8RPlHiBmhXU26Or8FufY9uy6"
            width="640" height="480"></iframe>
    </section>


</body>

</html>