{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>ADITI || HOME</title>
</head>
<header class="header">
    <a href="#"><img src="{% static 'image/home.svg' %}" alt="" class="home"></a>
    <!-- Smaller Screen search -->
    <div class="header--right">
        <img src="{% static 'image/loupe.svg' %}" alt="">
        <input type="text" name=""  class="search">
        <div class="qr"></div>
    </div>
</header>

<body>
    <!-- Head Section -->
    <div class="header__section">
        <div></div>
        <div class="header__section--right">
            <img src="{% static 'image/loupe.svg' %}" alt="">
            <input type="text" name=""  class="search">
            <div class="qr"></div>
        </div>
        <!-- Smaller screen actions -->
        <div class="header__section--actions">
            <img src="{% static 'image/messenger.svg' %}" alt="" class="msg">
            <input type="button" value="MESSAGE" class="mes">
            <img src="{% static 'image/user.svg' %}" alt="" class="pro">
            <input type="button" value="PROFILE" class="prof">
            <img src="{% static 'image/admin.svg' %}" alt="" class="hst">
            <a href="{% url 'user:hoteladmin' %}"><input type="button" value="I'M A HOST" class="host"></a>
        </div>
    </div>
    <!-- Main Section -->
    <div class="main__section">
        <div class="main__section--core">
            <a href="{% url 'user:explore' %}" class="exp"><input type="button" value="Explore" class="explore"></a>
            <a href="{% url 'user:u_home' %}" class="jmp"><input type="button" value="ADITHI" class="jump"></a>
            <img src="{% static 'image/pin.svg' %}" class="pin">
        </div>
        <div class="main__section--actions">
            <img src="{% static 'image/messenger.svg' %}" alt="" class="msg">
            <input type="button" value="MESSAGE" class="mes"><br>
            <img src="{% static 'image/user.svg' %}" alt="" class="pro">
            <input type="button" value="PROFILE" class="prof"><br>
            <img src="{% static 'image/admin.svg' %}" alt="" class="hst">
            <a href="{% url 'user:hoteladmin' %}"><input type="button" value="I'M A HOST" class="host"></a>
        </div>
    </div>
    <!-- Ad Section -->
    <div class="ad__section">
        <img src="{% static 'image/hotel.jpg' %}" alt="" class="htl">
        <img src="{% static 'image/resort.jpg' %}" alt="" class="rst">
        <img src="{% static 'image/homestay.jpg' %}" alt="" class="hmsty">
        <img src="{% static 'image/unique.jpg' %}" alt="" class="unq">
        <img src="{% static 'image/dormet.jpg' %}" alt="" class="drm">
        <img src="{% static 'image/farnhouse.jpg' %}" alt="" class="frmh">
        <img src="{% static 'image/rental.jpg' %}" alt="" class="rntrms">
    </div>

    <!-- Feature Section -->
    <div class="ft__section">
        <img src="{% static 'image/hotel.jpg' %}" alt="" class="htl">
        <img src="{% static 'image/resort.jpg' %}" alt="" class="rst">
        <img src="{% static 'image/homestay.jpg' %}" alt="" class="hmsty">
        <img src="{% static 'image/unique.jpg' %}" alt="" class="unq">
        <img src="{% static 'image/dormet.jpg' %}" alt="" class="drm">
        <img src="{% static 'image/farnhouse.jpg' %}" alt="" class="frmh">
        <img src="{% static 'image/rental.jpg' %}" alt="" class="rntrms">
    </div>
</body>

</html>